@model IEnumerable<ProjectManagement.Models.Project.ProjectList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <input type="button" class="btn btn-primary btn-sm" style="width: 140px;" value="New Project &raquo;" onclick="location.href='@Url.Action("Create", "Project")'">
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ProjectId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProjectName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProjectStartDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProjectStatus)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Customer.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Employee.Name)
    </td>
    <td>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Options
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Update", "Update", new { id = item.ProjectId })</li>
                <li>@Html.ActionLink("Details", "Details", new { id = item.ProjectId })</li>
                <li>@Html.ActionLink("Delete", "Delete", new { id = item.ProjectId })</li>
            </ul>
        </div>
    </td>
</tr>
    }

</table>
