@model IEnumerable<ProjectManagement.Models.Customer.CustomerList>

@{
    ViewBag.Title = "Index";
}

<h2>Customer List</h2>

<p>
    <input type="button" class="btn btn-primary btn-sm" value="New Customer" onclick="location.href='@Url.Action("Create", "Customer")'">
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerAdded)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerAdded)
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Options
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Update", "Update", new { id = item.CustomerId })</li>
                        <li>@Html.ActionLink("Details", "Details", new { id = item.CustomerId })</li>
                        <li>@Html.ActionLink("Delete", "Delete", new { id = item.CustomerId })</li>
                    </ul>
                </div>
            </td>
        </tr>
    }

</table>
